@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --link-color: #1d4ed8;
}

*,*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}






input,textarea{
  border: 1px solid #a5a5a5;
  border-radius: 0.25rem;
  display: block;
  padding: 0.25rem;
}
